@mixin grid($val) {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
	gap: 2rem;
}

@mixin titleText($titleSize) {
	font-size: $titleSize;
	color: var(--black);
	text-transform: capitalize;
}

@mixin graphText($graphSize) {
	font-size: $graphSize;
	color: var(--light-color);
	text-transform: capitalize;
	line-height: 1.5;
}

@mixin iconsBox {
	padding: 1rem 1.5rem;
	font-size: 2rem;
	background: var(--light-bg);
	color: var(--black);
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	a {
		color: var(--black);
	}
	&:hover {
		background: var(--black);
		color: var(--white);
		a,
		i {
			color: var(--white);
		}
	}
}
